---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { footer, footer_help, footer_training } = menu;
const { copyright, location, email, phone, footer_description } = config.params;
---

<footer class="footer bg-[#FCF5F5]">
  <div class="container">
    <div class="gx-5 row pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-2">
        <img src="/images/home/logo-claro.svg" alt="Moder Beauty Academy" />
      </div>
      <div class="col-12 mt-12 md:col-6 lg:col-2">
        <h6 class="text-[#FF715E]">SERVICES</h6>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-0"}>
                <a class="text-[#FF715E]  hover:underline " href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-12 mt-12 md:col-6 lg:col-2">
        <h6 class="text-[#FF715E]">TRAINING</h6>
        <ul>
          {
            footer_training.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-0"}>
                <a class="text-[#FF715E]  hover:underline " href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6 class="text-[#FF715E]">HELP</h6>
        <ul>
          {
            footer_help.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-0"}>
                <a class="text-[#FF715E]  hover:underline " href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <h6 class="text-[#FF715E]">FOLLOW US</h6>

        <Social source={social} className="social-icons mt-4 lg:mt-6" />
      </div>
    </div>
  </div>
  <div class="container w-full max-w-full bg-[#FF715E]">
    <div
      class="footer-copyright mx-auto border-t border-border pb-1 pt-1 text-center"
    >
      <p class="content text-white text-sm opacity-50" set:html={copyright} />
    </div>
  </div>
</footer>
